<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes</title>
</head>
<body>
    <h1>Add a Note</h1>
    <form id="form" method="POST" action="/addnotes">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="email" name="email">
        <textarea id="note" name="notetext"></textarea>
        <input type="submit" value="Add" id = "add_btn">
    </form>
</body>
</html>