<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Niconne&family=Oleo+Script:wght@700&family=Pacifico&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>Notes</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>NOTES</h1>
        </div>
        <div class="type">
            
        </div>
        <div class="btn">
            <button type="submit" class="createnote">CREATE NOTES</button>
        </div>
    </div>
    <script src="/frontend_js/home.js"></script>
</body>
</html>