<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
<div>
    <div>
        <div class="question">
            <h1>Overview </h1>
        </div>
        <div class="answer">
            <h3>By using our services, you consent to the policies and practices described in this statement.  This is a project work , intended to showcase webdevelopment skills and not for any business purpose . Your data will be stored and processed on our servers which may be inside or outside India and your usage of the Services constitutes consent to the transfer of your data out of India. Our Services may contain links to other website over which we have no control and we are not responsible for the privacy policies or practices of other websites to which you navigate from our Services. We encourage you to review the privacy policies of these other websites so you can understand how they collect, use and share your information. This privacy statement applies solely to the information we collect on "https://canvasnotes.herokuapp.com" and not to information collected otherwise.</h3>
        </div>    
    </div>
    <div>
        <div class="question">
            <h1>What Information we collect ?</h1>
        </div>
        <div class="answer">
            <h1>We collect the following information / data -> </h1>
            <h3>(i) provided by you in login or signup forms like username , email , password </h3>
            <h3>(ii) notes you created . </h3>
            <h3>(iii)we also gather or may gather certain information about your use of our Services, such as what areas you visit and what features you access</h3>
        </div>    
    </div>
    <div>
        <div class="question">
            <h1>Where data is stored ?</h1>
        </div>
        <div class="answer">
            <h3> The data/information you entered will be stored and processed on our servers which may be inside or outside India and your usage of the Services constitutes consent to the transfer of your data out of India. </h3>
        </div>
    </div>
    <div> 
        <div class="question">
            <h1>What we do with your data and why we need it ?</h1>
        </div>
        <div class="answer">
            <h3> we are minimising the collection of any data to what is strictly necessary in order to offer you a functioning website. In particular we don't sell your data to someone else . Because this is a cv based project based approach and as of now is stored on a free service , no guarantee of data is given . Users account as well as Services related to this site can be shut anytime. </h3>
        </div>
    </div>
    <div> 
        <div class="question">
            <h1>What you can do on this website ?</h1>
        </div>
        <div class="answer">
            <h3>You can create new notes and view or delete notes that you have
                already created . However you cannot update the already created note. 
                <u>Note -:</u> All notes which are blank i.e. saved as supplied initially will all be deleted if you press delete button on any of these note in mynotes section . 
            </h3>
            <h3></h3>
            </div>
        </div>    
        <div class="question">
            <h1>Cookies</h1>
        </div>
        <div class="answer">
            <h3>Cookies are small text files placed on your device by the web server via your browser, and may be used to collect information to help identify you and prepare customised pages. we have used a cookie named jwt which will be deleted after an hour or when user logout. Purpose of this cookie is to send user data at each page and make website more dynamic.
            </h3>
        </div>
    </div>
    <div> 
        <div class="question">
            <h1>Guarantee</h1>
        </div>
        <div class="answer">
            <h3>No guarantee of data is given . We assume no liability or responsibility for disclosure of your information due to causes beyond our control.
            In order to keep personal information secure, you must not share your password . If you are using a shared computer, please make sure you logout after every use. If we receive instructions using your email and password, we will consider that the instructions have been authorized by you.
            </h3>
        </div>
    </div>
    <div> 
        <div class="question">
        <h1>GDPR entitlement</h1>
        </div>
        <div class="answer">
        <h3>EU General Data Protection Regulation (GDPR) has provided the below rights to the EU residents:
            Right to information - the purposes for processing Personal Information and the rights of the individual.
            Right to access the Personal Information that are processed.
            Right to erasure (”Right to be forgotten”).
            Right to rectification.
            Right to restriction of processing.
            Right to object (opt-out) to processing.
            EU residents can exercise these rights by raising a request directly at tsnadbai@gmail.com
        </h3>
        </div>
    </div>
    <div> 
        <div class="question">
        <h1>Privacy policy change</h1>
        </div>
        <div class="answer">
        <h3> It can be changed any time. </h3>
    </div>
    
</div>
</body>
</html>
